<div class="register-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h2>Register</h2>

        <div>
            <label for="firstname">Firstname:</label>
            <input id="firstname" type="text" formControlName="firstname" />
            <span class="error"
                *ngIf="registerForm.controls['firstname'].invalid && registerForm.controls['firstname'].touched">
                Firstname is required
            </span>
        </div>

        <div>
            <label for="lastname">Lastname:</label>
            <input id="lastname" type="text" formControlName="lastname" />
            <span class="error"
                *ngIf="registerForm.controls['lastname'].invalid && registerForm.controls['lastname'].touched">
                Lastname is required
            </span>
        </div>

        <div>
            <label for="email">Email:</label>
            <input id="email" type="email" formControlName="email" />
            <span class="error"
                *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched">
                Invalid Email
            </span>
        </div>

        <div>
            <label for="password">Password:</label>
            <input id="password" type="password" formControlName="password" />
            <span class="error"
                *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched">
                Password must be at least 6 characters
            </span>
        </div>

        <div>
            <label for="confirmPassword">Confirm Password:</label>
            <input id="confirmPassword" type="password" formControlName="confirmPassword" />
            <span class="error"
                *ngIf="registerForm.hasError('passwordsMismatch') && registerForm.get('confirmPassword')?.touched">
                Passwords do not match
            </span>
        </div>

        <button type="submit" [disabled]="registerForm.invalid">Register</button>
    </form>
    <div class="url-holder">
        <a href="/login">Login here</a>
    </div>
</div>